html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: tahoma,Geneva,sans-serif;
  padding: 0;
  margin: 0 auto;
}

/* gradient trick from http://www.puremango.co.uk/2010/04/css-gradient-background */
#gradient {
  /* fallback (Opera) */
  background: #f6d1b7;
  /* Mozilla: */
  background: -moz-linear-gradient(top, #f6d1b7, #f2e5d5);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
              left top, left bottom, from(#f6d1b7), to(#f2e5d5));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
              StartColorStr='#f6d1b7', EndColorStr='#f2e5d5', GradientType=0);
  padding-bottom: 40px;
}

#header {
  background-image: url(/images/header.png);
  background-repeat: no-repeat;
  height: 435px;
  width: 959px;
  margin: 0 auto;
  position: relative;
}

#header h1 {
  width: 395px;
  height: 65px;
  overflow: hidden;
  position: absolute;
  top: 145px;
  left: 480px;
  text-align: center;
  color: #4e2124;
  font-weight: normal;
  text-transform:uppercase;
  font-size: 28px;
}

#header ul {
  width: 750px;
  overflow: hidden;
  position: absolute;
  top: 340px;
  left: 60px;
}

#header li {
  width: 180px;
  list-style: none;
  float: left;
  text-align: center;
  border: none;
  text-transform:lowercase;
  margin-right: 20px;
}

#header li:hover {
  border-bottom: 13px solid #9b415b;
}

#header li a {
  text-decoration: none;
  color: #4e2124;
  font-weight: normal;
  font-size: 28px;
}

#container {
  width: 959px;
  margin: 0 auto;
}

#footer {
  width: 959px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

#footer img {
  position: absolute;
  top: -18px;
  left: 0;
}

#footer p {
  width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
}

/* home page */
#welcome  { position: relative; }
#welcome #signature {
  font-family: 'Reenie Beanie', arial, serif;
  color: #4e2124;
  font-size: 34px;
}
#welcome p { width: 480px; padding-left: 10px; }
#welcome #photo { position: absolute; top: 0; left: 500px;}
#welcome #cartoons { margin-left: 300px;}
