<div id="details">
  <div id="leftcol">
    <h3>CEREMONY</h3>
    <p>The ceremony will be held at Montsalvat, Eltham. You can find it using Melways reference 22 A8. You can read more about the property at <a href="http://www.montsalvat.com.au">www.montsalvat.com.au</a></p>

    <h3>DID YOU KNOW?</h3>
    <p>The great hall (below the upper gallery where Jess and Charlie will get married) was partially built from materials sourced from Whelan the wrecker, one of Jess' ancestors.</p>

    <h3>HOT TIP!</h3>
    <p>Jess and Charlie have hired Montsalvat until 3.45pm. The ceremony is expected to finish at around 3pm. Jess and Charlie hope you'll find some time to wander around and enjoy the beauty of the property in that time before everyone has to leave for the reception!</p>

    <h3>RECEPTION</h3>
    <p>The reception will be held at the Northcote Town Hall. You can find it using Melways reference 30 E9. You can read more about the property at <a href="http://www.northcotetownhall.com.au">www.northcotetownhall.com.au</a></p>

    <h3>DID YOU KNOW?</h3>
    <p>The Northcote Town Hall plays host to a lifedrawing class on Saturdays, once a fortnight... While we get married at Montsalvat, somewhere at our reception venue a life model will be nuding it up. Ooh!</p>

    <h3>HOT TIP!</h3>
    <p>There is some all day parking around the town hall, and it is also very accessible by public transport. You can find out more here -  <a href="http://www.northcotetownhall.com.au/Page/Page.asp?Page_Id=48&h=1&p=1">here</a>.</p>
  </div>
  <div id="midcol">
    <h3>MUSIC BROUGHT TO YOU BY...</h3>
    <p>The Nymphs will be singing at the ceremony and reception. These guys have AMAZING voices and frilly knickers, so be sure to keep an eye and ear out. If you'd like a sneak preview of their sound, go here - <a href="http://www.myspace.com/nymphs">http://www.myspace.com/nymphs</a> or buy their new EP!</p>

    <p>There will also be Scottish country dancing with a caller at the reception. Yes, you heard right. SCOTTISH FREAKING COUNTRY DANCING! Colour me tartan and wrap me in haggis!</p>

    <p>Jess and Charlie may even do a little dance number on the floor at some stage during the reception. What will their song be? Elton John's Tiny Dancer? Michael Jackson's Thriller? John Farnham's Burn For You? Celine Dion's My Heart Will Go On?</p>

    <h3>JESSICA IS DRESSED BY...</h3>
    <p>Who ISN'T Jess dressed by? She bought TWO lots of fabric from Retro in High Street Northcote to start with, neither of which she used.</p>

    <p>Next, she bought silk from Silk Trader in Hawthorn. This she had turned into a grey corset made by her extremely talented friend Joey, and a purple silk dress made by the (it turns out) not very cool people at Vicious Venus (Jess wanted to get married in the corset, but not to have to eat or dance in it... hence the dress). The corset is to be matched with a white shirt made by the Travelling Tailor Jacquie McGowan (big thumbs up) and a white ripped/knotted tulle skirt from etsy seller <a href="http://www.etsy.com/shop/mtcoffinz?ga_search_query=mtcoffinz&ga_search_type=seller_usernames">mtcoffinz</a>.</p>
  </div>
  <div id="rightcol">
    <p>Other delights from etsy include Jess' coca cola cufflinks (because admitting your addiction is the first step in beating it) from etsy seller wmdean, her pink and purple shoes from I Love Billy, her purple (or pink?!?!) hair dyed and put up by Wildilocks, and her Whimsy Gifts necklace OR etsy tragicallyadorned choker OR etsy elegantascot cravat *shrug* who knows?</p>

    <p>Jess is getting public transport to Montsalvat IN her wedding outfit... will she make it to the ceremony with her white skirt and shirt intact? Let's see if Metro can get her there all in one piece, and stain free.</p>

    <h3>ONE LAST THING!</h3>
    <p>Look out for the car... it is going to blow your mind!</p>

    <h3>ONE MORE LAST THING!</h3>
    <p>Don't forget to RSVP. We know we haven't given you folks heaps of time, but we need to know early on so we can work out how much food to make (most of the dinner will be made by Jess, Charlie, our mums, friends, and maybe even you - let us know if you're up for cooking something!!!)</p>

    <img src="/images/cat.png">
  </div>
  <div class="clearfix"></div>
</div>
