<div id="welcome">
  <p>Dear friends and family, we don’t expect gifts from our guests, but we have set this site up for those who wish to contribute something to our wedding in Canada. You can choose an item from the list, which will prompt you to enter your details. An email will be sent to you with our bank details, and you can then choose whether to transfer your contribution that way, or bring it along in a card on the day (there will be a gift table and card box at the reception).</p>

  <p>This site also has extra information like the invitation (in case you’ve lost your copy!), some details about the venues and how to get there, and a few other fun facts about the wedding.</p>

  <p>There are less than two months until the big day… we can’t wait to share it with you all!</p>

  <p id="signature">Love Jess and Char</p>

  <img src="/images/photo.png" id="photo">
  <img src="/images/cartoons.png" id="cartoons">
</div>

