<div id="suggestions">
  <table>
    <tbody>
      <% @suggestions.each do |sug|%>
      <tr class="<%=cycle( 'odd', 'even')%>">
        <td class="description"><%= sug.description%></td>
        <td class="value"><%= suggestion_value(sug) %></td>
        <% if sug.finished?%>
          <td class="button">&nbsp;</td>
        <% else %>
          <td class="button"><%= link_to image_tag("pick_this.png"), new_suggestion_gift_path(sug), :class => "facebox" %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
