<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Unlawfully Wedded Wives</title>
    <%= stylesheets %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="gradient">
      <div id="header">
      </div>
      <div id="container">
        <div id="content">
          <%= yield %>
        </div>
      </div>
    </div>
    <div id="footer">
      <img src="/images/footer.png" alt="footer">
      <p>Send us an <a href="mailto:unlawfullyweddedwives@gmail.com">email</a> if you like!</p>
    </div>
    <%= javascripts %>
    <% if Rails.env == "production" %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-20562148-2']);
      _gaq.push(['_setDomainName', '.unlawfullyweddedwives.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  <% end %>
  </body>
</html>
